{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %} Service Add{% endblock %}
{% block body %}

<center>
<h2><font color="#366092">Service Add</font></h2>
<div class="container">
    <form name="frm" action="{% url 'admin_service_master_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="form-group">
            <label for="name">name :</label>
            <input class="form-control" type="text" name="name" id="name" value="" required>
        </div>

        <div class="form-group">
            <label for="description">Description :</label>
            <textarea class="form-control"  name="description" id="description"  required></textarea>
        </div>
        <div class="form-group">
            <label for="price"> Amt :</label>
            <input class="form-control" type="text" name="price" id="price" value="" required>
        </div>
        <div class="form-group">
            <label for="document">Picture</label>
            <input class="form-control" type="file" name="document" id="document">
        </div>

        <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}

    </form>
</div>
</center>
{% endblock %}